name: starRec
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - aiohttp=3.9.5=py311h459d7ec_0
  - aiosignal=1.3.1=pyhd8ed1ab_0
  - annotated-types=0.7.0=pyhd8ed1ab_0
  - anyio=4.4.0=pyhd8ed1ab_0
  - async-timeout=4.0.3=pyhd8ed1ab_0
  - attrs=23.2.0=pyh71513ae_0
  - blas=1.1=openblas
  - brotli-python=1.0.9=py311h6a678d5_8
  - bzip2=1.0.8=h5eee18b_6
  - ca-certificates=2024.7.4=hbcca054_0
  - certifi=2024.6.2=pyhd8ed1ab_0
  - cffi=1.16.0=py311hb3a22ac_0
  - charset-normalizer=3.3.2=pyhd8ed1ab_0
  - exceptiongroup=1.2.0=pyhd8ed1ab_2
  - frozenlist=1.4.1=py311h459d7ec_0
  - greenlet=3.0.1=py311h6a678d5_0
  - h2=4.1.0=pyhd8ed1ab_0
  - hpack=4.0.0=pyh9f0ad1d_0
  - hyperframe=6.0.1=pyhd8ed1ab_0
  - idna=3.7=pyhd8ed1ab_0
  - jsonpatch=1.33=pyhd8ed1ab_0
  - jsonpointer=3.0.0=py311h38be061_0
  - langchain=0.2.6=pyhd8ed1ab_0
  - langchain-core=0.2.11=pyhd8ed1ab_0
  - langchain-text-splitters=0.2.2=pyhd8ed1ab_0
  - langsmith=0.1.83=pyhd8ed1ab_0
  - ld_impl_linux-64=2.38=h1181459_1
  - libffi=3.4.4=h6a678d5_1
  - libgcc-ng=14.1.0=h77fa898_0
  - libgfortran-ng=14.1.0=h69a702a_0
  - libgfortran5=14.1.0=hc5f4f2c_0
  - libgomp=14.1.0=h77fa898_0
  - libopenblas=0.3.27=pthreads_h413a1c8_0
  - libstdcxx-ng=11.2.0=h1234567_1
  - libuuid=1.41.5=h5eee18b_0
  - lz4-c=1.9.4=h6a678d5_1
  - multidict=6.0.5=py311h459d7ec_0
  - ncurses=6.4=h6a678d5_0
  - numpy=1.26.4=py311h24aa872_0
  - numpy-base=1.26.4=py311hbfb1bba_0
  - openblas=0.3.27=pthreads_h7a3da1a_0
  - openssl=3.3.1=h4ab18f5_1
  - orjson=3.10.6=py311hb3a8bbb_0
  - packaging=23.2=pyhd8ed1ab_0
  - pip=24.0=py311h06a4308_0
  - pycparser=2.22=pyhd8ed1ab_0
  - pydantic=2.8.0=pyhd8ed1ab_0
  - pydantic-core=2.20.0=py311h5ecf98a_0
  - pysocks=1.7.1=pyha2e5f31_6
  - python=3.11.9=h955ad1f_0
  - python_abi=3.11=2_cp311
  - pyyaml=6.0.1=py311h459d7ec_1
  - readline=8.2=h5eee18b_0
  - requests=2.32.3=pyhd8ed1ab_0
  - setuptools=69.5.1=py311h06a4308_0
  - sniffio=1.3.1=pyhd8ed1ab_0
  - sqlalchemy=2.0.31=py311h331c9d8_0
  - sqlite=3.45.3=h5eee18b_0
  - tenacity=8.4.2=pyhd8ed1ab_0
  - tk=8.6.14=h39e8969_0
  - typing-extensions=4.12.2=hd8ed1ab_0
  - typing_extensions=4.12.2=pyha770c72_0
  - tzdata=2024a=h04d1e81_0
  - urllib3=2.2.2=pyhd8ed1ab_1
  - wheel=0.43.0=py311h06a4308_0
  - xz=5.4.6=h5eee18b_1
  - yaml=0.2.5=h7f98852_2
  - yarl=1.9.4=py311h459d7ec_0
  - zlib=1.2.13=h5eee18b_1
  - zstandard=0.22.0=py311haa97af0_0
  - zstd=1.5.5=hc292b87_2
prefix: /home/team05/anaconda3/envs/starRec
