# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.1.0=pypi_0
accelerate=0.32.1=pypi_0
aiohttp=3.9.5=py311h459d7ec_0
aiosignal=1.3.1=pyhd8ed1ab_0
annotated-types=0.7.0=pyhd8ed1ab_0
anyio=4.4.0=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.3=pyhd8ed1ab_0
attrs=23.2.0=pyh71513ae_0
backoff=2.2.1=pypi_0
beautifulsoup4=4.12.3=pypi_0
bitsandbytes=0.43.1=pypi_0
blas=1.1=openblas
brotli-python=1.0.9=py311h6a678d5_8
bs4=0.0.2=pypi_0
bzip2=1.0.8=h5eee18b_6
ca-certificates=2024.7.4=hbcca054_0
certifi=2024.7.4=py311h06a4308_0
cffi=1.16.0=py311hb3a22ac_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pyhd8ed1ab_0
clean-text=0.6.0=pypi_0
click=8.1.7=pypi_0
cmake=3.30.0=pypi_0
cuda-cudart=12.4.127=h99ab3db_0
cuda-cudart_linux-64=12.4.127=hd681fbe_0
cuda-nvrtc=12.4.127=h99ab3db_1
cuda-version=12.4=hbda6634_3
deepdiff=7.0.1=pypi_0
emoji=1.7.0=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.0=pyhd8ed1ab_2
faiss-gpu=1.8.0=py3.11_h4c7d538_0_cuda12.1.1
filetype=1.2.0=pypi_0
flatbuffers=24.3.25=pypi_0
frozenlist=1.4.1=py311h459d7ec_0
ftfy=6.2.0=pypi_0
gast=0.6.0=pypi_0
google-pasta=0.2.0=pypi_0
greenlet=3.0.1=py311h6a678d5_0
h2=4.1.0=pyhd8ed1ab_0
hpack=4.0.0=pyh9f0ad1d_0
hyperframe=6.0.1=pyhd8ed1ab_0
idna=3.7=pyhd8ed1ab_0
intel-openmp=2023.1.0=hdb19cb5_46306
jsonpatch=1.33=pyhd8ed1ab_0
jsonpath-python=1.0.6=pypi_0
jsonpointer=3.0.0=py311h38be061_0
keras=3.4.1=pypi_0
langchain=0.2.6=pyhd8ed1ab_0
langchain-core=0.2.11=pyhd8ed1ab_0
langchain-text-splitters=0.2.2=pyhd8ed1ab_0
langdetect=1.0.9=pypi_0
langsmith=0.1.83=pyhd8ed1ab_0
ld_impl_linux-64=2.38=h1181459_1
libclang=18.1.1=pypi_0
libcublas=12.4.5.8=h99ab3db_1
libfaiss=1.8.0=h046e95b_0_cuda12.1.1
libffi=3.4.4=h6a678d5_1
libgcc-ng=14.1.0=h77fa898_0
libgfortran-ng=14.1.0=h69a702a_0
libgfortran5=14.1.0=hc5f4f2c_0
libgomp=14.1.0=h77fa898_0
libopenblas=0.3.27=pthreads_h413a1c8_0
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
lit=18.1.8=pypi_0
lz4-c=1.9.4=h6a678d5_1
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
mdurl=0.1.2=pypi_0
mkl=2023.1.0=h213fc3f_46344
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=py311h459d7ec_0
namex=0.0.8=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
nltk=3.8.1=pypi_0
numpy=1.26.4=py311h24aa872_0
numpy-base=1.26.4=py311hbfb1bba_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-pyindex=1.0.9=pypi_0
nvidia-tensorrt=99.0.0=pypi_0
openblas=0.3.27=pthreads_h7a3da1a_0
openpyxl=3.1.5=pypi_0
openssl=3.3.1=h4ab18f5_1
opt-einsum=3.3.0=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.10.6=py311hb3a8bbb_0
packaging=23.2=pyhd8ed1ab_0
pathspec=0.12.1=pypi_0
pip=24.1.2=pypi_0
platformdirs=4.2.2=pypi_0
pycparser=2.22=pyhd8ed1ab_0
pydantic=1.10.2=pypi_0
pydantic-core=2.20.0=py311h5ecf98a_0
pyee=11.1.0=pypi_0
pygments=2.18.0=pypi_0
pypdf=4.2.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.1.0=pypi_0
pysocks=1.7.1=pyha2e5f31_6
python=3.11.9=h955ad1f_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-iso639=2024.4.27=pypi_0
python-magic=0.4.27=pypi_0
python-multipart=0.0.9=pypi_0
python_abi=3.11=2_cp311
pytz=2024.1=pypi_0
pyyaml=6.0.1=py311h459d7ec_1
rank-bm25=0.2.2=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
requests=2.32.3=pyhd8ed1ab_0
requests-toolbelt=1.0.0=pypi_0
rich=13.7.1=pypi_0
setuptools=70.3.0=pypi_0
shellingham=1.5.4=pypi_0
six=1.16.0=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.1=pyhd8ed1ab_0
soupsieve=2.5=pypi_0
spider-client=0.0.58=pypi_0
sqlalchemy=2.0.31=py311h331c9d8_0
sqlite=3.45.3=h5eee18b_0
sympy=1.12.1=pypi_0
tabulate=0.9.0=pypi_0
tbb=2021.8.0=hdb19cb5_0
tenacity=8.4.2=pyhd8ed1ab_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorrt=10.2.0=pypi_0
tensorrt-cu12=10.2.0=pypi_0
tensorrt-cu12-bindings=10.2.0.post1=pypi_0
termcolor=2.4.0=pypi_0
tf-keras=2.16.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tk=8.6.14=h39e8969_0
toml=0.10.2=pypi_0
toolz=0.12.1=pypi_0
tqdm=4.66.4=pypi_0
typing-extensions=4.12.2=hd8ed1ab_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.1=pypi_0
unstructured=0.14.10=pypi_0
unstructured-client=0.24.1=pypi_0
urllib3=2.2.2=pyhd8ed1ab_1
uvicorn=0.30.1=pypi_0
watchdog=4.0.1=pypi_0
wcwidth=0.2.13=pypi_0
websocket-client=1.8.0=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py311h06a4308_0
xz=5.4.6=h5eee18b_1
yaml=0.2.5=h7f98852_2
yarl=1.9.4=py311h459d7ec_0
zipp=3.19.2=pypi_0
zlib=1.2.13=h5eee18b_1
zstandard=0.22.0=py311haa97af0_0
zstd=1.5.5=hc292b87_2
